
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cover Template for Bootstrap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body class="text-center">
    <a href="https://github.com/vkartik97"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3  class="masthead-brand">tnylk.tk</h3>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="url" placeholder="URL">
              <a style="margin-top: 2%; "href="#" class="btn btn-lg btn-secondary" id="submitbtn" >Generate URL</a>    
            </div>
          </div>
        </form>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Project by <a href="https://github.com/vkartik97" target="_blank" >Kartik Verma</a></p>
        </div>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>